
:root{  
--Blue-400: rgb(42, 207, 207);
--Purple-950: hsl(257, 27%, 26%);
--Red-400: hsl(0, 87%, 67%);
--Gray-400: hsl(0, 0%, 75%);
--Gray-100: hsla(0, 10%, 90%, 0.757);
--Gray-500: hsl(257, 7%, 63%);
--Gray-900: hsl(255, 11%, 22%);
--Gray-950: hsl(260, 8%, 14%);
}
